<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>

 <hr>
 <footer>
    <p>&copy; <%= new Date().getFullYear() %>Personal Notes App</p>
 </footer>
    
</body>
</html>